asn1crypto==1.5.1
chartkick==1.0.1
cryptography==36.0.2
dataclasses_json==0.6.7
motor==3.6.1
pymongo==4.10.1
python_magic==0.4.27
python_tlsh==4.5.0
quart==0.20.0
r2pipe==1.9.4
Requests==2.32.3
rich==13.9.4
rich_argparse==1.6.0
yara==1.7.7
